@use "../abstracts/variables.scss" as v;

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$primary-light;
  height: 100px;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
  }

  @media (min-width: 768px) {
    padding: 0 2rem;
  }
}
