@use "../abstracts/variables.scss" as v;

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$primary-dark;
  height: 75px;
  padding: 0 2rem;
  position: relative;
  color: v.$primary-light;

  .logo {
    font-size: 2.2rem;
    font-weight: 600;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }

  @media (min-width: 768px) {
    padding: 0 2rem;
  }
}
